.sidebarDiv{
    background-color: #282c34;
    border-right: 1px solid rgb(94, 94, 94);
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    z-index: 1;
    transition: transform .2s ease-in-out;
}

.hamburgerDiv{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

@media (max-width: 768px) {
    .hamburgerDiv{
        top: 10px;
    }
}

